.wp-block-create-block-brave-page-up {
    position: fixed;
    bottom: #{posUpDown}px;
    #{posLeftRight}: #{posLeftRightPx}px;
    display: none;
    padding: 0;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}


.wp-block-create-block-brave-page-up button {
    border: none;
}


.wp-block-create-block-brave-page-up button::before {
    content: attr(title);
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


