.wp-block-create-block-brave-page-up {
    position: fixed;
    display: none;
    padding: 0;
    height: fit-content;
    width: fit-content;
    cursor: pointer;

    button {
        border: none;
    }
}